<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="m-5">Playlists</h1>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="row">
                {% for playlist in playlists %}
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="">{{ playlist.title }}</a>
                        </h4>
                        <p class="card-text">{{ playlist.description }}</p>
                      </div>
                      <div class="card-footer">
                        <a class="btn btn-primary btn-lg float-right" href="/playlists/{{ playlist._id }}">View Details</a>
                      </div>
                    </div>
                  </div>
    
                {% endfor %}
    
    
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->    
</div>
<!-- /.container -->
{% endblock %}